*{
    margin: 0px;
    padding: 0px;
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}   

body{
    background: linear-gradient(to right, blue, white);


}





header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 5%;
  
    
}


.logo{
    font-size: 40px;
    color:black;
}

nav ul{
    display: flex;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    font-size: 30px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    padding: 0 20px;
    transition: ease-in-out 0.5s;
}

nav ul li a:hover{
    color: white;
    
    
}

.second{
    
    height: 100px;
}

.buttons{
    display: flex;
    float: right;
}

.buttons button{
    margin: 10px;
    justify-content: space-between;
    box-shadow: 3px 3px 3px 3px;
    border-radius: 10px;
    background-color: orange;
    color: black;
    padding: 0 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;

}

.buttons button:hover{
    transform: scale(1.1); ;
    background-color: orangered;
}

#header1{
   font-size: 30px;
font-weight: bold;
position: relative;
left: 100px;
font-size: 50px;
margin-bottom: 20px;
}

.about{
 
    display: flex;
    justify-content : center;
    align-items: center;
    min-height: 500px;
    
}

.about div{
    
    min-height: 500px;
    width: 550px;
    margin: 60px;
    transition: ease-in-out 0.5s;
    
}

.about div h2{
    text-transform : capitalize ;
    
}





.about div img{
    border-radius: 25px;
}


.about ul li{
    list-style: none;
}

#header2{
    font-size: 30px;

 
 }

 
.news{
    display: flex;
    justify-content : center;
    align-items: center;
    min-height: 500px;
    
    
}


.news div{
    
    min-height: 500px;
    width: 550px;
    margin: 60px;
    text-align: center;
    
}



.news div img{
    border-radius: 10px;

}

    

#header3{
    font: size 30px; 
    
    color: black;
}

.conditions{
display: flex;
justify-content: center;
align-items: center;
min-height: 500px;

}

.conditions div{
    
    min-height: 500px;
    width: 550px;
    margin: 60px;
    

}



.conditions div img{
    border-radius: 10px;
}

#watch{
min-height: 1000px;
margin-bottom: 100px;


}

#watch div{
min-height: 1000px; 

  
}

.main_div{
    float: left;
    width: 55%;
}

.main_div video{
position: relative;
left: 150px;    
}

.sub_div{
    float: right;
    width: 45%;
    display: grid;
    border-left: solid;
    

    
}

.sub_div video{
    position: relative;
    left:50px;
    top: 15px;
    float: left;
    height: 200px;
    width: 300px;
}
#sub_h1{
    
    
    position: relative;
    bottom: 180px;
    left: 365px;
}



.container {
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  }
  
  .container .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
  }
  
  .container .title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
  }

  

  
  .content form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
  }
  
  form .user-details .input-box {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
  }
  
  form .input-box span.details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
  }
  
  .user-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
  }
  
  .user-details .input-box input:focus,
  .user-details .input-box input:valid {
    border-color: #9b59b6;
  }
  
  form .gender-details .gender-title {
    font-size: 20px;
    font-weight: 500;
  }
  
  form .category {
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
  }
  
  form .category label {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  form .category label .dot {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: 10px;
    background: #d9d9d9;
    border: 5px solid transparent;
    transition: all 0.3s ease;
  }
  
  #dot-1:checked~.category label .one,
  #dot-2:checked~.category label .two,
  #dot-3:checked~.category label .three {
    background: #9b59b6;
    border-color: #d9d9d9;
  }
  
  form input[type="radio"] {
    display: none;
  }
  
  form .button {
    height: 45px;
    margin: 35px 0
  }
  
  form .button input {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
  }
  
  form .button input:hover {
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
  }
  
  /* Responsive media query code for mobile devices */
  @media(max-width: 584px) {
    .container {
      max-width: 100%;
    }
  
    form .user-details .input-box {
      margin-bottom: 15px;
      width: 100%;
    }
  
    form .category {
      width: 100%;
    }
  
    .content form .user-details {
      max-height: 300px;
      overflow-y: scroll;
    }
  
    .user-details::-webkit-scrollbar {
      width: 5px;
    }
  }
  
  /* Responsive media query code for mobile devices */
  @media(max-width: 459px) {
    .container .content .category {
      flex-direction: column;
    }
  }


footer{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    background-image: url(test_img/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    
}

footer div{
     
    min-height: 400px;
    width: 550px;
    
    text-align: center;
    margin-top: 100px;
    
  }

#mid ul li a{
    display: block;
    font-weight: bold;
    margin: 30px;
    color: blue;
    transition: ease-in-out 0.5s;
}  

#mid ul li a:hover{
    color: white;
    transform: scale(1.1);
}
#handles h2{
    color: white;
    font-weight: bold;
    
}

#handles ul li a{
    display: block;
    margin: 30px;

    color: blue;
    font-weight:bold ;
    transition: ease-in-out 0.5s;
}

#handles ul li a:hover{
    color: white;
    transform: scale(1.1);
}


